/* Reset */
*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Helvetica", "Arial", sans-serif;
}
/**** Whole game container ****/
.game-container {
  width: 90%;
  margin: 0 auto;
  max-width: 900px;
  padding: 3em 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
/**** Typography ****/
.title {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 0.5em;
  margin-top: 100px;
}
.game-title {
  margin-bottom: 0.5em;
  text-align: center;
  line-height: 1.5;
  font-size: 2rem;
}

/**** In-game display ****/
.game-tracker-container {
  width: 89%;
  margin-bottom: 1.25em;
  padding: 1em 2.5em;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.scores-box {
  background-color: grey;
  height: 80px;
  min-width: 100px;
  border: 5px solid red;
  border-radius: 5px;
  font-size: 1.1rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 2.5em 1em;
  color: #fff;
}
.scores-box .player-score,
.scores-box .computer-score {
  margin-top: 0.35em;
}
.main-score-display-container {
  width: 80%;
  margin: 0 auto;
  max-width: 900px;
  background-color: grey;
  min-height: 320px;
  border: 5px solid red;
  border-radius: 5px;
  margin-bottom: 2em;
  padding: 2em 1em;
  text-align: center;
}
.main-score-round-winner {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}
.main-score-display {
  font-size: 1.2rem;
  font-weight: 900;
  line-height: 1.5;
  color: #fff;
}
.same-choice-win {
  font-size: 2rem;
}

/**** Buttons ****/
.btn-holder {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.choiceBtn {
  cursor: pointer;
  font-size: 1rem;
  padding: 0.5em 2em;
  background-color: steelblue;
  color: #fff;
  border-radius: 5px;
  width: 110px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 5px solid rgb(10, 32, 97);
  letter-spacing: 2px;
  transition: 250ms ease-in;
}
.choiceBtn:hover {
  color: #000;
  background-color: orangered;
}
.refreshBtn {
  margin-top: 2em;
  cursor: pointer;
  font-size: 1.2rem;
  padding: 0.5em;
  background-color: #000;
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  text-transform: uppercase;
  border: 5px solid rgb(10, 32, 97);
  transition: 250ms ease-in;
  letter-spacing: 2px;
}
.refreshBtn:hover {
  color: #000;
  background-color: orangered;
}
/********* QUERIES *********/
@media (min-width: 400px) {
  .main-score-display-container {
    min-height: 220px;
  }
  /**** Buttons ****/
  .btn-holder {
    flex-direction: row;
    gap: 10px;
  }
  .choiceBtn {
    font-size: 1rem;
  }
}

@media (min-width: 600px) {
  .title {
    font-size: 3.5rem;

    margin-bottom: 0.5em;
    margin-top: 100px;
  }
  /**** Buttons ****/
  .btn-holder {
    flex-direction: row;
  }
  .choiceBtn {
    font-size: 1.4rem;
    width: 150px;
  }
  .scores-box {
    font-size: 1.5rem;
    padding: 2.5em 1em;
  }
  .main-score-round-winner {
    font-size: 2.2rem;

    line-height: 1.5;
  }
}
